body {
  text-align: center;
  background-image: linear-gradient(-225deg, #BBE29F 0%, #FFA91F 48%, #FF719A 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.searchString {
  margin: 20px;
  border-radius: 20px;
}

.showTweets {
  margin-right: 10px;
}

.loadingLogo {
  width: 80px;
}

