/*
  iPhone 6/7/8/X
*/
@media (min-width: 320px) and (max-width: 767px) {

  .streamSection {
    text-align: center;
    max-width: 450px;
    display: inline-block;
    margin-top: 40px;
  }

  .tweetWrapper {
    display: inline-block;
    width: 100%;
  }

  .tweetInfo {
    float: left;
    width: calc(100% - 80px);
  }

  .fullName {
    color: #14171a;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .screenName {
    color: #657786;
    margin-right: 5px;
    font-size: 12px;
  }

  p.tweet-text {
    font-size: 12px;
    word-wrap: break-word;
    text-align: left;
  }
}

/*
  iPad
 */
@media (min-width: 768px) and (max-width: 1024px) {

  .streamSection {
    text-align: center;
    max-width: 550px;
    display: inline-block;
    margin-top: 40px;
  }

  .tweetWrapper {
    display: inline-block;
    width: 100%;
  }

  .tweetInfo {
    float: left;
    width: calc(100% - 80px);
  }

  .fullName {
    color: #14171a;
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .screenName {
    color: #657786;
    margin-right: 5px;
    font-size: 16px;
  }

  p.tweet-text {
    font-size: 18px;
    word-wrap: break-word;
    text-align: left;
  }
}

/*
  Desktop
 */
@media (min-width: 1025px) {

  .streamSection {
    text-align: center;
    max-width: 550px;
    display: inline-block;
    margin-top: 40px;
  }

  .tweetWrapper {
    display: inline-block;
    width: 550px;
  }

  .tweetInfo {
    float: left;
    width: 400px;
  }

  .fullName {
    color: #14171a;
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
  }

  .screenName {
    color: #657786;
    margin-right: 5px;
    font-size: 16px;
  }

  p.tweet-text {
    font-size: 18px;
    word-wrap: break-word;
    text-align: left;
  }
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.profilePicture {
  float: left;
  width: 58px;
  margin-right: 10px;
}

.header {
  text-align: left;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.userAnchor {
  text-decoration: none;
}


//////// animation css
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

